# docker-compose.yml
version: '3.8'

services:
  backend:
    build:
      context: ./back
    ports:
      - "8000:8000"
    volumes:
      - ./back/data:/app/data
      - ./back:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./front
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
